.fill {
  background-color: black;
  position: relative;
  height: 70px ;
  width: 43px  ;
  cursor: pointer;
}

.empty {
  display: inline-block;
  height: 70px  ;
  width: 43px  ;
  border: solid 1px  black;
  background: white;
}

.ficha.row{
  margin: 0px !important;
}
