body{
	padding: 20px;
}

.Tablero{
	background-color: #26292f;
	width: 700;
	height: 552px;
	padding: 15px;
	align-items: center;
	cursor: pointer;
}

 .img{
 	width: 150px;
    height: 150px; 
    padding: 0.5em;
}



